<%- include("partials/header") -%>
    <h2>Welcome to Face Recognition / Attendant checking system</h2>
    <img src="https://media.ksdk.com/assets/KSDK/images/9a4daf61-8233-4664-a6cb-612021f6c33e/9a4daf61-8233-4664-a6cb-612021f6c33e_750x422.jpg" alt="back dh-bach-khoa-hn">
<%- include("partials/footer") -%>
