<%- include("partials/header") -%>
    <h2>Chào mừng đến phần mềm điểm danh</h2>
    <img src="https://photo-cms-plo.zadn.vn/w653/Uploaded/2021/gtnokt/2019_08_08/dh-bach-khoa-hn.jpg" alt="back dh-bach-khoa-hn">
<%- include("partials/footer") -%>
